@use 'variaveis';

.episodes {
    max-width: 1140px;
    margin: 140px auto;

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: variaveis.$corTextos;
        padding-bottom: 30px;

        h1 {
            font-size: 34px;
            font-weight: 500;
        }

        .tab_button{
            display: none;
            flex-direction: column;
            background-color: rgba(64, 68, 89, 0.5);
            border-radius: 10px;
            position: absolute;
            width: 170px;
            margin-top: 8px;
            padding: 7px 10px;

        }
        .tab_button--option{
            display: block;
            width: 100%;
            background-color: transparent;
            color: variaveis.$corTextos;
            text-transform: uppercase;
            border: none;
            outline: none;
            font-weight: bold;
            padding: 10px;
            cursor: pointer;
        }

        .tab_button--option:hover {
            background-color: rgba(64, 68, 89, 0.9);
            border-radius: 10px;
        }
        .tab_button--option:focus {
            background-color: rgba(64, 68, 89, 0.9);
            border-radius: 10px;
            border: 2px solid white;
        }

        .tab_button--option.active {
            background-color: rgba(64, 68, 89, 0.5);
            color: white;
        }

        &__tabs__item {
            display: flex;
            position: relative;
            align-items: end;
            background-color: transparent;
        }
        .button_itens{
            display: flex;
            gap: 5px;
            border: none;
            outline: none;
            background-color: transparent;
            color: variaveis.$corTextos;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            padding: 10px;
            cursor: pointer;
        }

    }

    &__list {
        display: none;

        &.active{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            list-style: none;
        }
        

        &__item {
            padding: 10px;
            color: variaveis.$corTextos;         

            img {
                width: 100%;
                border-radius: 8px;
            }

            h3 {
                font-size: 14px;
                margin-top: 10px;
            }

            p {
                font-size: 12px;
                margin-top: 10px;
            }

            a {
                display: inline-block;
                margin-top: 10px;
                text-decoration: none;
                font-size: 12px;
                color: #4f8bff;
                transition: color 0.3s;
            }

            a:hover {
                color: variaveis.$corTextos;
            }
        }
    }
}