@use 'variaveis';

.episodes {
    max-width: 1140px;
    margin: 140px auto;

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: variaveis.$corTextos;
        padding-bottom: 30px;

        h1 {
            font-size: 34px;
            font-weight: 500;
        }

        form {
            display: flex;
            align-items: end;

            select {
                border: none;
                outline: none;
                background-color: transparent;
                color: variaveis.$corTextos;
                text-transform: uppercase;
                font-size: 14px;
                padding: 5px;
                cursor: pointer;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        list-style: none;

        &__item {
            padding: 10px;
            color: variaveis.$corTextos;
            
            &.active {
                display: block;
            }

            img {
                width: 100%;
                border-radius: 8px;
            }

            h3 {
                font-size: 14px;
                margin-top: 10px;
            }

            p {
                font-size: 12px;
                margin-top: 10px;
            }

            a {
                display: inline-block;
                margin-top: 10px;
                text-decoration: none;
                transition: color 0.3s;
            }

            a:hover {
                color: variaveis.$corTextos;
            }
        }
    }
}