@use 'variaveis';

.header{
    background-color: rgba($color: variaveis.$corDeFundo, $alpha: 0.88);
    padding: 12px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    nav{
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        height: 30px;
    }

    a{
        font-family: 'Open sans', sans-serif;
        text-transform: uppercase;
        font-weight: 770;
        color: variaveis.$corTextos;
        font-size: 12px;
        text-decoration: none;
        white-space: nowrap;
}


}