@use 'variaveis';

.hero{
    min-height: 75vh;
    background:  linear-gradient(to bottom, rgba(18, 12, 29, 0) 50%, rgba(10, 7, 15, 1) 100%), 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9) 100%), 
    url(../../images/friends-capa.png) no-repeat center 10%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding-right: 38%;

    &__logo{
        max-width: 100%;
        width: 370px;
        margin-bottom: 32px;
    }
    &__text{
        color: variaveis.$corTextos;
        display: block;
        max-width: 800px;
        width: 100%;
        margin-left: 100px;
        transform: translateY(50px);

        
        &__sub{
            display: flex;
            gap: 10px;
            padding-left: 20px;
            font-size: 14px;
            text-transform: uppercase;
        }
        h5{
            font-size: 1.125rem;
            font-weight: normal;
            padding-bottom: 30px;
            max-width: 480px;
            margin-block-start: 1rem;
            margin-block-end: 1rem;
            text-align: justify;
            line-height: 1.7;
        }
        a {
            margin-left: 0;
            padding: 13px 24px;
        }

    }
}