@use 'variaveis';

.hero{
    min-height: 60vh;
    background:  linear-gradient(to bottom, rgba(18, 12, 29, 0) 70%, rgba(18, 12, 29, 1) 100%), 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.7) 100%), 
    url(../../images/friends-capa.png) no-repeat center 25%;
    background-size: cover;
    position: relative;

    &__logo{
        max-width: 100%;
        width: 370px;
    }
    &__text{
        color: variaveis.$corTextos;
        display: block;
        max-width: 800px;
        position: absolute;
        bottom: -50px;
        padding-left: 100px;
        width: 100%;
        margin-left: 100px;

        
        &__sub{
            display: flex;
            gap: 10px;
            padding-left: 40px;
            padding-bottom: 10px;
            font-size: 18px;
        }
        h5{
            font-size: 1.125rem;
            font-weight: normal;
            padding-bottom: 30px;
            max-width: 480px;
            margin-block-start: 1rem;
            margin-block-end: 1rem;
            text-align: justify;
            line-height: 1.7;
        }
        a {
            margin-left: 0;
            padding: 13px 24px;
        }

    }
}