@use 'variaveis';

.veja_mais {
    max-width: 1140px;
    margin: 140px auto;

    h1 {
        color: variaveis.$corTextos;
        font-size: 36px;
        font-weight: 500;
        padding-bottom: 18px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        list-style: none;

        &__item {
            padding: 10px;
            color: variaveis.$corTextos;
            
            &.active {
                display: block;
            }

            img {
                width: 100%;
                border-radius: 8px;
                padding-bottom: 12px;
            }

            a {
                color: variaveis.$corTextos;
            }
        }
    }

    @media (max-width:768px) {
        padding-left: 12px;
        h1 {
            font-size: 24px;
            font-weight: 400;
        }
        .veja_mais {

            &__list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    list-style: none;
    
                    &__item {
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }        
    }
}