@use 'variaveis';
@use 'header';
@use 'hero';
@use 'episodes';
@use 'veja_mais';
@use 'sobre';
@use 'faixa';
@use 'footer';

@import url('https://fonts.cdnfonts.com/css/hbo-max-2');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(10, 7, 15);
    background: linear-gradient(180deg, rgba(10,7,15,1) 50%, rgba(7,6,53,1) 100%);
}
.buttons{
    display: flex;
    align-items: center;
}
.button{
    padding: 10px 20px;
    background-color: variaveis.$corSecundaria;
    border-radius: 10px;
    margin-left: 25px;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
